.page-footer {
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-100);
  margin-top: auto;
  padding: var(--padding-medium);
  text-align: center;
}

.page-footer a:link,
.page-footer a:visited {
  color: var(--color-neutral-100);
}

.page-footer a:hover {
  text-decoration: none;
}
