.card {
  background-color: var(--color-neutral-100);
  border-radius: var(--default-border-radius);
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex: 1 0 350px;
  flex-direction: column;
  padding: var(--padding-base);
  width: 100%;
}

.card h2 {
  margin: 0;
}
