.tag-list {
  display: flex;
  flex-flow: row wrap;
  gap: var(--padding-base);
  margin-top: auto;
}

.tag-list li {
  background-color: var(--color-neutral-500);
  border-radius: var(--default-border-radius);
  flex: 0 1 60px;
  justify-content: space-between;
  padding: var(--padding-small);
  text-align: center;
}
