.search-tools {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--padding-base);
}

[type="search"] {
  flex: 1 1 80%;
  padding: var(--padding-base);
}

[type="submit"] {
  background-color: var(--color-primary);
  border: 0;
  border-radius: var(--default-border-radius);
  color: var(--color-neutral-900);
  cursor: pointer;
  flex: 1 1 20%;
  font-size: 1.2rem;
  line-height: 1;
  padding: var(--padding-base);
}

[type="submit"]:hover {
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-100);
}
