.search-tools {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

[type="search"] {
  flex: 1 1 80%;
  padding: 0.9rem;
}

[type="submit"] {
  background-color: #01918b;
  border: 0;
  border-radius: 6px;
  color: #212121;
  cursor: pointer;
  flex: 1 1 20%;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0.9rem;
}

[type="submit"]:hover {
  background-color: #2d292f;
  color: #fff;
}
