*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #01918b;
  --color-neutral-100: #fff;
  --color-neutral-500: #9cafb7;
  --color-neutral-800: #2d292f;
  --color-neutral-900: #0c0b0b;
  --card-box-shadow: 0 1px 7px 0 rgb(0 0 0 / 10%), 0 1px 6px 0 rgb(0 0 0 / 6%);
  --default-border-radius: 6px;
  --max-width: 1100px;
  --padding-base: 1rem;
  --padding-button: 1rem 2rem;
  --padding-small: 0.5rem;
  --padding-small-medium: 2rem;
  --padding-medium: 3rem;
}

body {
  font: 100%/1.7 -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans",
    "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  color: var(--color-primary);
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 0 var(--padding-base);
  width: 100%;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
